<h1>Thank you for your order!</h1>

<p>Your order has been received and will be processed shortly. We'll send you an email when your order is shipped.</p>

<%= link_to "Back to Store", root_path, class: "btn btn-primary" %>
