<tr>
  <td><%= line_item.product.name %></td>
  <td><%= line_item.quantity %></td>
  <td><%= number_to_currency(line_item.product.price) %></td>
  <td><%= number_to_currency(line_item.total_price) %></td>
</tr>
